* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*FLEX*/

.flex-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
}

.one {
    background-color: #136a70;
    padding: 10px;
    flex: 50%;
}

.two {
    background-color: #fdfffb;
    padding: 10px;
    flex: 50%;
}

.three {
    background-color: #fdfffb;
    padding: 10px;
    flex: 50%;
}

.four {
    background-color: rgb(154, 235, 235);
    padding: 10px;
    flex: 50%;
}


/*GRID*/

.five {
    display: grid;
    gap: 10px;
    background-color: #fdfeff;
    padding: 10px;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.detail {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.hobbies {
    grid-column: 3;
    grid-row: 3/ span3;
}

.gender {
    grid-column: 1;
    grid-row: 2/ span1;
}

.info {
    grid-column: 1 / span 3;
    grid-row: 3;
}


/*h1-h6*/

h2 {
    font-size: 60px;
    font-style: italic;
    color: #fff;
    margin-top: 15px;
    font-family: 'Beau Rivage', cursive;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}


/*IDs*/

#skills {
    color: rgb(75, 201, 201);
    margin: 20px 15px;
}

#pro {
    color: rgb(75, 201, 201);
}

#services {
    color: #074549;
    padding: 30px 35px;
}

ul li {
    text-decoration: none;
    line-height: 1;
    padding: 20px 20px;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 80px;
}

img {
    width: 300px;
}

#image1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

#image2 {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
}

#image3 {
    border-radius: 0%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
}

#p {
    color: #a3dfe4;
    margin: 10px 5px;
}

#name {
    width: 15rem;
    height: 2rem;
}

#email {
    width: 15rem;
    height: 2rem;
}


/*Button*/

button {
    background-color: #136a70;
    width: 5rem;
    height: 2rem;
    color: #fff;
    box-shadow: #fff;
}


/*footer*/

footer {
    background-color: #07ac67;
    text-align: center;
    line-height: 1.8;
}